<p>medicinelists-create works!</p>
<form class="form-container" [formGroup]="medicineForm" (submit)="insert()">
  <div class="f-w">
    <h3>Create new medicine</h3>
  </div>
  <mat-form-field class="f-w" appearance="fill">
    <mat-label>Medicine Name</mat-label>
    <input matInput formControlName="medicineName" />
    <mat-icon matSuffix>medicine</mat-icon>
    <!--<mat-error *ngIf="f.cartoonName.touched && f.cartoonName.errors">Cartoon name required!!</mat-error>-->
  </mat-form-field>
  <mat-form-field class="f-w" appearance="fill">
    <mat-label>Price</mat-label>
    <input matInput formControlName="price" />
    <!--<mat-error *ngIf="f.producer.touched && f.producer.errors">producer required!!</mat-error>-->
    <mat-icon matSuffix>local_atm</mat-icon>
  </mat-form-field>
  <div class="f-w">
    <button [disabled]="medicineForm.invalid" mat-raised-button type="submit" color="accent"><mat-icon>save_alt</mat-icon> Save</button>
  </div>
  <div class="f-w">
    <a mat-flat-button [routerLink]="['/medicinelists']">Back to list</a>
  </div>
</form>

